tmp
png
systems*
*data*
*slurm*
.cache
__pycache__
.metadata
.DS_Store
*.png
*.pdf
*.egg*
*.ndx
*.npz
*.npy
*.xyz
*.tmp
*.pyc
*.o
*.cprof
*.h5
*.hdf5
*.pkl
.nfs*
*.c
.*.csv
*.swp
*.dSYM
*.so
*.tar.gz
*.md5
.idea
*.out
*.pyf
*.mod
*~
.adxv*
*.aux
*.bbl
*.log
*.blg
*.synctex.*
*.dat
*.xtc
*.trr
*.lock
check_times.sh
delete_junk.sh
sol_md_load.sh
*colorbar*
*count_ions*
submit.py
sbatch.sh